/* ---- reset ---- */ 
html,body{ 
  width:100%;
  height:100%;
  margin:0; 
  font-family: 'Pacifico', cursive;
  
  display: flex;
  justify-content:center;
  align-items:center;
}
canvas{ 
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */ 
#particles-js{ 
  position:absolute; 
  top:0;
  left:0;
  width: 100%; 
  height: 100%; 
  background-color: #041728; 
  background-image: url("https://picdm.sunbangyan.cn/2023/12/23/d3809d866b90f7d130351de46725a972.jpeg"); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center; 
  z-index:0;
}
.text{
  color:#fff;
  font-size:7vw;
  position:inline-block;
  z-index:1;
  text-align:center;
  cursor:default;
  pointer-events:none;
}